.sidebarContainer{
    width: 10vw;
    position: relative;
    height: 100%;
    background-color: rgb(234, 236, 247);
}

.linkListSidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}